<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>If you are not an OBS, go away</title>
    <link rel="stylesheet" href="./style.css" />
    <script src="https://cdn.jsdelivr.net/npm/comfy.js@latest/dist/comfy.min.js"></script>
  </head>
  <body id="body">
    <audio id="audioPlayer">
      <source src="/media/3xOof.mp3" type="audio/mpeg">
    </audio>
    <img id="pango" class="pango" src="./media/pangolin.png" />
    <img id="pangoSign" class="pangoSign" src="./media/pangoTabliczka.png" />
    <div id="agentOnHitContainer" class="agentOnHitContainer agentOnHitAnimated" >
      <div id="agentOnHit" class="agentOnHit"></div>
      <img id="agent" class="agent" alt="" />
    </div>
    <script src="./script.js" alt=" " onerror="this.style.display='none';"></script>
  </body>
</html>
