<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="icon" href="/images/favicon.png">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap" rel="stylesheet">
</head>
<body>

  <label for="searchBar">Szukasz konkretnej komendy? Wyszukaj tutaj!</label>
  <input type="text" id="searchBar" name="search" placeholder="Szukaj..."><br>
  <span>Jak chcesz dodać komendy?</span>
  <button id="addDirectlyBtn">Bezpośrednio na chacie</button>
  <button id="addBySiteBtn">Przez stronę StreamElement </button>
<div id="commands"></div>
<script src="/javascripts/script.js"></script>
</body>
</html>
